.bcds-react-aria-Select {
  gap: var(--layout-margin-hair);
}

/* Sizes */
.bcds-react-aria-Select.small .bcds-react-aria-Select--Button {
  height: var(--layout-margin-xlarge);
  min-height: var(--layout-margin-xlarge);
}

.bcds-react-aria-Select.medium .bcds-react-aria-Select--Button{
  height: var(--layout-margin-xxlarge);
  min-height: var(--layout-margin-xxlarge) !important;
}