name: .Deploys

on:
  workflow_call:
    inputs:
      ### Required
      # Nothing! Only `secrets: inherit` is required

      ### Typical / recommended
      environment:
        description: GitHub environment; e.g. PR number (omit), TEST or PROD
        default: "dev"
        type: string
      tag: 
        description: Image tag; e.g. PR number or latest
        default: ${{ github.event.number }}
        type: string
      target:
        description: Deployment target; e.g. PR number (omit), test or prod
        default: ${{ github.event.number }}
        type: string

      ### Optional / per-environment
      db-pvc-size:
        description: Database PVC size; e.g. 1Gi
        default: "128Mi"
        type: string
      db-cpu-request:
        description: Database CPU request; e.g. 50m
        default: "50m"
        type: string
      backend-cpu-request:
        description: Backend CPU request; e.g. 50m
        default: "50m"
        type: string
      frontend-cpu-request:
        description: Frontend CPU request; e.g. 50m
        default: "50m"
        type: string

jobs:
  init:
    name: Init
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: bcgov-nr/action-deployer-openshift@v3.1.0
        with:
          oc_namespace: ${{ secrets.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          oc_version: "4.14.37"
          file: common/openshift.init.yml
          overwrite: true
          parameters:
            -p TARGET=${{ inputs.target }}
            -p ENV=${{inputs.environment}}
            -p DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            -p DB_USER=${{ secrets.DB_USER }}
            -p DB_NAME=${{ secrets.DB_NAME }}
            -p DB_PORT=${{ secrets.DB_PORT }}
  
  deploy:
    name: Deploy
    environment: ${{ inputs.environment }}
    needs: [init]
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      matrix:
        name: [database, backend, frontend]
        include:
          - name: database
            overwrite: false
            parameters:
              -p DB_PVC_SIZE=${{ inputs.db-pvc-size }}
              -p CPU_REQUEST=${{ inputs.db-cpu-request }}
          - name: backend
            overwrite: true
            parameters:
              -p SSOAUTH=${{ vars.SSO_AUTH_SERVER_URL }}
              -p CPU_REQUEST=${{ inputs.backend-cpu-request }}
            verification_path: /healthcheck/
          - name: frontend
            overwrite: true
            parameters:
              -p SSOAUTH=${{ vars.SSO_AUTH_SERVER_URL }}
              -p CPU_REQUEST=${{ inputs.frontend-cpu-request }}
    steps:
      - uses: bcgov-nr/action-deployer-openshift@v3.1.0
        with:
          file: ${{ matrix.name }}/openshift.deploy.yml
          oc_namespace: ${{ secrets.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          overwrite: false
          parameters:
            -p IMAGE_TAG=${{ inputs.tag }} 
            -p TARGET=${{ inputs.target }}
            -p DB_PVC_SIZE=${{ inputs.db-pvc-size }}
            -p CPU_REQUEST=${{ inputs.db-cpu-request }}
          verification_path: ${{ matrix.verification_path }}
